<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />

	<meta charset="UTF-8">
	<title>{% block title%}{%endblock%}</title>
</head>

<body>

{%block body%}


{%endblock%}



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>